@font-face{
    font-family: header;
    src: url(./Assets/Fonts/KeepCalm-Medium.ttf);
}
@font-face{
    font-family: Brand;
    src: url(./Assets/Fonts/Roboto-Black.ttf);
}

@font-face{
    font-family: Logo;
    src: url(./Assets/Fonts/LibreBaskerville-Bold.otf);
}

@font-face{
    font-family: Afta;
    src: url(./Assets/Fonts/AftaSansThin-Regular.otf);
}

html{
    font-family: header !important;
    scroll-behavior: smooth !important;
}

label, button{
    font-family: Brand !important;
}

h1,h2,h3,h4,h5,h6{
    font-family: header;
}
::selection{
    background: rgb(187, 7, 67) !important;
    color: rgb(255, 255, 255) !important;
}

div.loader{
    position: fixed !important;
    display: flex !important;
    height: 100% !important;
    align-items: center !important;
    align-content: center !important;
    flex-wrap: wrap !important;
    flex-grow: inherit !important;
    box-shadow: 0 0 10px black !important;
}
*[data-badge]{
    position: relative !important;
}

*[data-badge]::after{
    content: attr(data-badge);
    position: absolute;
	 font-size: 0.7em;
     background: tomato;
     font-family: Arial, Helvetica, sans-serif !important;
     top: -8px !important;
     right: -12px !important;
	 color: white;
     width: 25px;
     padding-top: 4px !important;
	 height: 25px;
	 text-align: center;
	 line-height: 18px;
	 border-radius: 50%;
	 box-shadow: 0 0 1px #333;
}

pre.CodeMirror-line{
    padding-left: 30px !important;
}

.btn:focus{
    box-shadow : none !important;
}

.btn-outline-danger:hover{
    background : white !important;
    color: tomato !important;
}

pre {
    background : rgb(26, 25, 25) !important;
    color:rgb(46, 216, 46) !important;
    padding : 1em !important;
    border: 1px solid rgb(98, 93, 93) !important;
    border-radius: 10px !important;

    font-size: 14px !important;
}

a.btn-social{
    width: 33px !important;
    height: 33px !important;
    cursor: pointer !important;
    overflow: hidden !important;
    display: inline-block !important;
    text-align: center !important;
    border-radius: 1000px !important;
    font-size: 20px !important;
    transition: 0.3s !important;
    text-decoration: none !important;
    margin-left: 2px !important;
    margin-right: 2px !important;
    background: transparent !important;
    color: #3f3f83 !important;
}

a.btn-social:hover{
    transform: scale(1.3) !important;
    color: white !important;
}
.header{
    font-size: 2em !important;
    font-family: Brand !important;
    color: darkslategrey;
    padding-bottom: 10px !important;
}
.info-header{
    font-size: 20px !important;
    text-align: center !important;
    font-family: Brand !important;
    color: darkslategray !important;
}

.info-text{
    font-size: 14px !important;
    font-family: Afta;
    letter-spacing: 1px !important;
    text-align: center !important;
}
.input-group-append {
    border-bottom: 2px solid #343A40;;
}
.input-group-append i {
    cursor: pointer;
    padding-top: 0.2em;
}

button,.btn{
    border-radius: 0px !important;
    padding: 10px 13px !important;
}
input[type=email],.form-control{
    border-radius: 0px !important;
}
